/* Designed by Ardora http://www.webardora.net */
body {
font-family:Georgia, "Times New Roman", Times, serif;
background-image:url("images/UCE 2.png");
background-position:center;
background-repeat:inherit;
background-color:#FFFFFF;
	margin: 10px;padding: 0;
	font-weight:normal;
	font-size:.7em;
	color: #666666;
}
h1, h2, h3 {
	font-weight: normal;
	color: #333333;
	margin-top:5px;
	margin-bottom:10px;
}
p, blockquote, ol, ul {line-height: 110%;}
a {color:#3A69BA;}
a:hover {text-decoration: none;}
#contidoAct{margin:0; padding:0;}
.boxed {float: left;clear: left;width: 200px;margin: 0 0 10px 0;padding: 0;background:#EFF3F9;}
.boxed .heading {margin-top: 0;padding: 8px 15px;
	background: #5E80BD url(images/img3.gif) no-repeat center bottom;
	text-transform: uppercase;letter-spacing: 2px;
	font-size:1em;font-weight:bold;color: #FFFFFF;
}

.boxed .content {margin: 0;padding: 0;}
.boxed ul {margin: 0;padding: 0;list-style: none;line-height: normal;}
.boxed li {padding: 3px 0;border-top: 1px dotted #1F1F21;}
.boxed li.first {border: none;}
.boxed a {padding-left: 6px;background: url(images/img4.gif) no-repeat left center;text-decoration: none;color:#000000;}
.boxed a:hover{color:#5E80BD;}
#wrapper {margin: 0 auto;border-right: 1px dotted #939A3C;width: calc(100% - 25px);}
#header1 {float: left;width: 200px;height: 75px;background: url(images/img1.jpg);}
#header1 h1 {margin: 0;text-align: center;letter-spacing: -1px;font-size: 2.5em;color:#FFFFFF;}
#header1 h2 {margin: 0;padding: 30px 0 0 0;text-align: center;font-size: 1.2em;font-style: italic;color:#FFFFFF;}
#header2 {float: left;width:calc(100% - 210px);margin-left: 10px;height: 75px;background: url(images/img3.jpg);}
#header2 h2 {padding-top:5px;padding-left:18px;
text-align:left;font-size:28px;font-style:normal;color:#FFFFFF;
text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
#header2 ul {
	float: right;
	margin: 0;
	padding-top:0px;
	padding-right:15px;
	list-style: none;
	line-height: normal;
}
#header2 li {display: inline;padding-left:1em;}
#header2 a {
	padding: 0.5em;
	text-decoration: none;
	font: bold 1em;
	color:#FFFFFF;
}
#header2 a:hover {background-color:#EFF3F9;color:#000000;}
#menuPrincipal a:hover{color:#000000; }
#content {clear: both;padding-top: 10px;}
#areaContido{float: left;margin-left: 10px; width: calc(100% - 210px);}
.post {padding-top: 4px; text-align:justify;}
.post .title {margin: 0;font-size: 2em;}
.post .posted {margin-top: 0;font: normal .8em Tahoma, Arial, Helvetica, sans-serif;color: #999999;}
.post .meta {
	margin: 2em 0 3em 0;
	border-top: 1px dotted #939A3C;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}
.post .meta p {margin: 0;}
#footer {clear: both;border-top: 1px dotted #939A3C;;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}
#footer a {color: #999999;}
#header{height: 75px;}
#page, #content{min-height: 75px;overflow: hidden;}
body{min-width: 300px;min-height: 300px;overflow: hidden;}
#suggestPost{
top:0;right:0;
position: fixed;height:25px;width:25px;}
#suggestPost a:hover{
background-image:url(images/bAvaliaSD2.png);
height:25px;width:25px;}
#suggestPost a{cursor: pointer;
background-image:url(images/bAvaliaSD.png);
display:block;height:25px;width:25px;}
object{overflow:hidden;}
#backmodal{background-color:rgba(0,0,0, 0.5);text-align:center;}
#modalw{font-size: 20px;display: inline-table;margin-top:10%;padding: 25px;text-align:justify;font-family: sans-serif;background-color:rgba(255,255,255,1)}
#cancelbut, #okbut{border-radius:8px;font-size: 28px;color: white;margin-top: 10px; cursor: pointer;}
#cancelbut:hover, #okbut:hover{box-shadow: inset 0px 0px 20px rgba(0,0,0,1);}
#cancelbut{padding: 2px 5px 5px 5px;background-color: red;float: left;}
#okbut{padding: 2px 8px 5px 8px;background-color: green;float:right;}
